{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '@fortawesome/fontawesome-free/css/all.min.css' %}"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
    {% block css %} {% endblock%}
    <title>Document</title>
  </head>

  <body>
    <header id="header" class="header">
      <nav class="navbar">
        <h2>Todo <span>App</span></h2>
        <div class="nav-links">
          <h3>Welcome {{request.user}}</h3> 
          <h4>
            <a href="{% url 'tasks:logout' %}">logout</a>
          </h4>
        </div>
      </nav>
    </header>
    <main>{% block content %} {% endblock %}</main>
  </body>
</html>
